body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.img_container {
    width: 450px;
    height: fit-content;
    margin-left: 20px;
    user-select: none;
    cursor: zoom-in;
}
.img_container_fs {
    display: none;
    background: #000;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 40;
    flex-direction: column;
    align-items: center;
}
.fs-img-container {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    user-select: none;
}
#fs-image {
    width: 100%;
}
.close-btn-container {
    display: flex;
    width: 100%;
    height: 28.5vh;
    z-index: 40;
    position: relative;
    background: #000;
    margin: 20px 0;
}
.close-btn {
    padding: 20px;
    height: fit-content;
    gap: 15px;
    font-size: 14px;
    align-self: center;
    background: radial-gradient(#ffee93, #eab941);
    color: #000;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    box-shadow: 10px 8px 20px 0px rgba(0,0,0,0.18);
    display: none;
    flex-direction: column;
    margin: auto;
    cursor: pointer;
}
.close-btn > i {
    font-size: 30px;
}
.details {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 20px;
    width: 50%;
}
.details > h1 {
    margin-bottom: 20px;
    font-size: 30px;
}
.price > h2 {
    font-weight: 400;
    margin-bottom: 20px;
}
.color-container {
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}
.color-swatch {
    width: 26px;
    height: 26px;
    border: 2px solid #000;
    border-radius: 30px;
    margin-left: 10px;
    cursor: pointer;
}
#add-image-color {
    width: fit-content;
    margin-top: 20px;
}
#add-image-color-btn {
    width: 100%;
    border: none;
    background: radial-gradient(#ffee93, #eab941);
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 10px 8px 20px 0px rgba(0,0,0,0.18);
}
#add-image-color-btn:hover {
    background: radial-gradient(#ffee93, #fd9b34);
}
button {
    cursor: pointer;
}
#add-color-form {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000c2;
}
.add-color-modal {
    width: 80%;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #000;
}
.div-modal {
    display: flex;
    flex-direction: column;
    background: #000;
}
.label {
    padding: 10px;
    font-size: 18px;
}
.input {
    margin: 0 10px 10px 10px;
    padding: 4px 10px;
}
#hexadecimal {
    border: 1px solid #fff;
    padding: 0;
}
.subir-imagen {
    height: fit-content;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
#color-imagen {
    display: none;
}
#add-color-btn-container {
    display: flex;
    flex-direction: column;
    height: 40px;
    padding: 10px;
    background: #000;
}
#add-color-btn {
    padding: 10px;
    height: 100%;
    font-size: 16px;
    align-self: start;
    background: radial-gradient(#ffee93, #eab941);
    color: #000;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    box-shadow: 10px 8px 20px 0px rgba(0,0,0,0.18);
}
#add-color-btn:hover {
    background: radial-gradient(#ffee93, #fd9b34);
}
.otras-imagenes {
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    margin: 20px 0 0 20px;
    gap: 10px;
}
.other-images {
    opacity: .6;
    transition: 0.2s ease-in-out;
}
.other-images:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 820px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .subcontainer {
        width: 100vw;
        margin-top: 30px;
    }
    .color-container {
        justify-content: center;
        min-width: fit-content;
    }
    .img_container {
        width: 100%;
        margin-left: 0;
        cursor: auto;
    }
    .img_container > img {
        width: inherit;
    }
    .otras-imagenes {
        width: auto;
    }
    .details {
        width: auto;
    }
    .div-modal {
        align-items: center;
    }
    #subir-imagen-text {
        font-size: 14px;
    }
    #subir-imagen-logo {
        width: 60px;
        vertical-align: middle;
    }
    #add-color-btn {
        align-self: center;
    }
}