<div class="container">
    <div class="img_container" *ngFor="let imagen of imagenes">
        <img src="{{imagen.nombre}}" width="450px" (load)="zoomer()">
    </div>
    <div class="details" *ngIf="products">
        <h1>{{products.nombre}}</h1>
        <div class="price">
            <h2>${{products.precio}}</h2>
        </div>
        <div class="color-container">
            <span>Color: </span>
            <span *ngIf="colores"></span>
            <ng-container *ngFor="let color of colores">
                <div class="color-swatch" [style.background-color]="color.hexadecimal"></div>
            </ng-container>
        </div>
        <div>
            <div>
                <button>Agregar al carrito</button>
            </div>
            <div>
                <button>Agregar todas las variantes al carrito</button>
                <button>Borrar todas las variantes del carrito</button>
            </div>
        </div>
    </div>
</div>