<div class="header-container">
    <div class="header">
        <div class="img-container" routerLink="/products"></div>
        <div class="header-options">
                <div class="search-form">
                    <form (ngSubmit)="buscar()">
                        <input type="text" class="search-bar" placeholder="Buscar productos" name="terminoBusqueda" [(ngModel)]="terminoBusqueda">
                        <button type="submit" class="search-btn"><i class="fa-solid fa-magnifying-glass magnifying-glass"></i></button>
                    </form>
                    <div class="visual-theme-container">
                        <button class="login-btn" id="bright-theme-btn"><i class="fa-solid fa-sun"></i></button>
                        <button class="login-btn" id="dark-theme-btn"><i class="fa-solid fa-moon"></i></button>
                    </div>
                    <div class="cart">
                        <button class="login-btn" id="cart-button"><i class="fa-solid fa-cart-shopping"></i></button>
                        <div class="flechita"></div>
                        <div class="cart-modal">
                            <h3>CARRITO</h3>
                            <div class="cart-modal-product-list">
                                <div *ngFor="let product of cartProducts">
                                    <img [src]="product.img" width="50px">
                                    <p>{{product.nombre}}</p>
                                    <p class="precio">Precio: {{product.precio}}</p>
                                    <p class="cantidad">Cantidad: {{product.cantidad}}</p>
                                </div>
                            </div>
                            <button (click)="goToCheckout()">COMPRAR</button>
                        </div>
                    </div>
                    <div class="login-btn-container">
                        <button (click)="logOut()" *ngIf="isLogged" class="login-btn"><i class="fa-solid fa-right-to-bracket"></i></button>
                        <button routerLink="/login" *ngIf="!isLogged" class="login-btn"><i class="fa-solid fa-right-to-bracket"></i></button>
                    </div>
                    
                    <div class="mobile-view-container">
                        <div class="visual-theme-container">
                            <button class="login-btn" id="bright-theme-btn-mblvw"><i class="fa-solid fa-sun"></i></button>
                            <button class="login-btn" id="dark-theme-btn-mblvw"><i class="fa-solid fa-moon"></i></button>
                        </div>
                        <div class="cart-mblvw">
                            <button class="login-btn" id="cart-button-mblvw"><i class="fa-solid fa-cart-shopping"></i></button>
                            <div class="flechita"></div>
                            <div class="cart-modal">
                                <h3>CARRITO</h3>
                                <div class="cart-modal-product-list">
                                    <div *ngFor="let product of cartProducts">
                                        <img [src]="product.img" width="50px">
                                        <p>{{product.nombre}}</p>
                                        <p class="precio">Precio: {{product.precio}}</p>
                                        <p class="cantidad">Cantidad: {{product.cantidad}}</p>
                                    </div>
                                </div>
                                <button (click)="goToCheckout()">COMPRAR</button>
                            </div>
                        </div>
                        <div class="login-btn-container">
                            <button (click)="logOut()" *ngIf="isLogged" class="login-btn"><i class="fa-solid fa-right-to-bracket"></i></button>
                            <button routerLink="/login" *ngIf="!isLogged" class="login-btn"><i class="fa-solid fa-right-to-bracket"></i></button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
<nav>
    <ul class="nav">
        <li routerLink="/products" id="productos">PRODUCTOS</li>
        <li routerLink="/contact">CONTACTO</li>
    </ul>
</nav>
</div>