.container {
    background: green;
    display: flex;
    height: 100vh;
}
.subcontainer {
    background: purple;
    width: 80%;
    margin: 10% auto;
    display: flex;
    justify-content: space-evenly;
}
button {
    padding: 10px 15px;
}
.modal-container {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000c2;
}
.modal {
    width: 80%;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
}